.wrapper{
    padding-bottom: 15px;
}

.wrapper > button {
    display: inline-block;
    margin-right: 10px;
}

.button-pick {
    cursor: pointer;
    top: 196px;
    left: 362px;
    width: 81px;
    height: 36px;
    padding: 10px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #ff8f9c;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
.button-pick:hover { 
    background-color: black;
}